<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Regional Guide | Taliskarn : The World of Unwritten Maps </title>
    <link rel="stylesheet" href="/style.css">
    <link type="image/x-icon" href="/assets/favicon.ico" rel="shortcut icon">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-65CV5HSCNS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-65CV5HSCNS');
</script>
<body>
    <header role="banner" id="banner">
    <div class="header-content">

        <div class="header-brand">

            <div class="nav-mobile">
                <button id="burger-btn" class="burger-btn text-white focus:outline-none">
                    ☰
                </button>
                <div id="mobile-menu" class="mobile-menu bg-gray-900 text-white p-4">
                    <ul class="navigation">
                        <li><a href="/">Home</a><span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li>
                        <a href="/two_taliskarns">The Two Taliskarns</a>
                        <!-- <span class="submenu-toggle">▾</span><ul class="submenu">
                                <li><a href="/two_taliskarns/taliskarn_dt">Dark Times (DT)</a></li>
                                <li><a href="/two_taliskarns/taliskarn_nd">New Dawn (ND)</a></li>
                        </ul> -->
                </li>
                <!-- <li><a href="/for_dm">Taliskarn for DMs</a></li> -->
                <li><a href="/faq">FAQ</a></li>
        </ul>
</li>

<li><a href="/malkona">Places</a> <span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li><a href="/malkona/riku">Riku Highlands</a></li>
                <li><a href="/malkona/verda">Verdant Verdas</a></li>
                <li><a href="/malkona/bryleahn_jungles">Bryleahn Jungles</a></li>
                <li><a href="/malkona/fetid_fens">Fetid Fens</a></li>
                <!-- <li><a href="/malkona/valley_of_the_source">Valley of the Source</a></li> -->
                <li><a href="/malkona/warm_sea">The Warm Sea</a></li>
                <li><a href="/malkona/wilderreach">The Wilderreach</a></li>
                <li><a href="/malkona/scarred_lands">Scarred Lands of Bruna</a></li>
                <li><a href="/malkona/noctaria">Noctaria</a></li>
                <li><a href="/malkona/flammarg_shards">Flammarg's Shards</a></li>
                <li><a href="/malkona/irmaris">irmaris</a></li>

        </ul>
</li>



<li><a href="/denizens">Denizens</a>
        <span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li><a href="/denizens/races/prymars">Prymars</a></li>
                <li><a href="/denizens/races/arydars">Arydars</a></li>
                <li> <a href="/denizens/races/brunars">Brunars</a> </li>
                <li><a href="/denizens/races/saltuars">Saltuars</a></li>
                <li><a href="/denizens/races/bryleahns">Bryleahns</a></li>
                <li><a href="/denizens/races/kyonnhs">Kyönnhs</a></li>
                <li><a href="/denizens/races/noctids">Noctids</a></li>
                <li><a href="/denizens/races/flammars">Flammars</a></li>
                <!-- <li>
                        <a href="/denizens/races">Races</a>
                        <span class="submenu-toggle">▾</span><ul class="submenu">
                                <li>
                                        <a href="/denizens/races/humans">Humans</a>
                                        <span class="submenu-toggle">▾</span><ul class="submenu">
       
                                        </ul>
                                </li> 
 
                        </ul>
                </li> -->
                <!-- <li><a href="/denizens/bestiary">Bestiary</a></li> -->
        </ul>
</li>

<li><a href="/wonders">Wonders</a>
        <span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li>
                        <a href="/wonders/pantheon">Pantheon</a>
                        <!-- <span class="submenu-toggle">▾</span><ul class="submenu">
                                <li><a href="/wonders/pantheon/fluere">Fluere</a></li>
                                <li><a href="/wonders/pantheon/kaelesta">Kaelesta</a></li>
                                <li><a href="/wonders/pantheon/solkalor">Solkalor</a></li>
                                <li><a href="/wonders/pantheon/ferrude">Ferrude</a></li>
                                <li><a href="/wonders/pantheon/aurehjo">Aurehjo</a></li>
                                <li><a href="/wonders/pantheon/tranqa">Tranqa</a></li>
                                <li><a href="/wonders/pantheon/kustopha">Kustopha</a></li>
                                <li><a href="/wonders/pantheon/dhfhalbh">Dh’Fhalbh</a></li>
                                <li><a href="/wonders/pantheon/flumorn">Flumorn</a></li>
                        </ul> -->
                </li>
                <!-- <li>
                        <a href="/">Religions</a>
                        <span class="submenu-toggle">▾</span><ul class="submenu">
                                <li><a href="/wonders/religions/cult_of_currents">Cult of Currents</a></li>
                                <li><a href="/wonders/religions/cult_of_spirits">Cult of Spirits</a></li>
                                <li><a href="/wonders/religions/ancestor_cult">Ancestor Cult</a></li>
                        </ul>
                </li> -->
                <!-- <li> -->
                <!-- <li><a href="/">Magic</a></li> -->
                <!-- </li> -->
                <!-- <li><a href="/wonders/alchemy">Alchemy</a></li> -->
</li>
</ul>
</li>

<li><a href="/extras">Extras</a>
        <span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li><a href="/extras/stories">Stories</a>
                        <span class="submenu-toggle">▾</span>
                        <ul class="submenu">
                                <li><a href="/extras/stories/myth">Myth</a></li>
                        </ul>
                </li>
                <!-- <li><a href="/extras/arts">Arts</a></li> -->
                <li><a href="/extras/blog">Blog</a></li>
                <!-- <li><a href="/extras/chronicle">Chronicle</a></li>
                <li><a href="/extras/glossary">Glossary</a></li> -->
        </ul>
</li>
<li><a href="/about">About</a>
        <span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li><a href="/about/wip">Work in Progress</a></li>
                <li><a href="/license">License</a></li>
                <li><a href="/about/templates">Guides Templates</a>
                        <ul class="submenu">
                                <li><a href="/about/templates/template_malkona">A Guide to Malkona</a></li>
                                <li><a href="/about/templates/template_region">Regional Guide</a></li>
                        </ul>
                </li>
                <!--   <li><a href="/about/roadmap">Roadmap</a></li>
                <li><a href="/about/credits">Credits</a></li>
                <li><a href="/about/links">Links</a></li>-->

        </ul>
</li>
                    </ul>
                </div>
            </div>

            <h1 class="site-title">
                <a href="/">Taliskarn</a>
            </h1>
            <div class="header-contacts">
                <a href="https://discord.gg/Dr4BA8CCx3" class="contact-link"> Join Discord</a>
                <!-- <br><a href="mailto:orthanthundy@gmail.com" class="contact-link">orthanthundy@gmail.com</a> -->
            </div>
        </div>


        <div class="header-actions">

            <div class="language-switcher">
                
                
                <a href="/ru/about/templates/template_region/">Русский</a>
                
            </div>

            <form class="header-search-form" action="/search/" method="get">
                <input type="text" id="search-box" name="query">
                <input type="submit" value="search">
            </form>
        </div>
    </div>

    <div class="nav-desktop">
        <ul class="navigation">
            <li><a href="/">Home</a><span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li>
                        <a href="/two_taliskarns">The Two Taliskarns</a>
                        <!-- <span class="submenu-toggle">▾</span><ul class="submenu">
                                <li><a href="/two_taliskarns/taliskarn_dt">Dark Times (DT)</a></li>
                                <li><a href="/two_taliskarns/taliskarn_nd">New Dawn (ND)</a></li>
                        </ul> -->
                </li>
                <!-- <li><a href="/for_dm">Taliskarn for DMs</a></li> -->
                <li><a href="/faq">FAQ</a></li>
        </ul>
</li>

<li><a href="/malkona">Places</a> <span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li><a href="/malkona/riku">Riku Highlands</a></li>
                <li><a href="/malkona/verda">Verdant Verdas</a></li>
                <li><a href="/malkona/bryleahn_jungles">Bryleahn Jungles</a></li>
                <li><a href="/malkona/fetid_fens">Fetid Fens</a></li>
                <!-- <li><a href="/malkona/valley_of_the_source">Valley of the Source</a></li> -->
                <li><a href="/malkona/warm_sea">The Warm Sea</a></li>
                <li><a href="/malkona/wilderreach">The Wilderreach</a></li>
                <li><a href="/malkona/scarred_lands">Scarred Lands of Bruna</a></li>
                <li><a href="/malkona/noctaria">Noctaria</a></li>
                <li><a href="/malkona/flammarg_shards">Flammarg's Shards</a></li>
                <li><a href="/malkona/irmaris">irmaris</a></li>

        </ul>
</li>



<li><a href="/denizens">Denizens</a>
        <span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li><a href="/denizens/races/prymars">Prymars</a></li>
                <li><a href="/denizens/races/arydars">Arydars</a></li>
                <li> <a href="/denizens/races/brunars">Brunars</a> </li>
                <li><a href="/denizens/races/saltuars">Saltuars</a></li>
                <li><a href="/denizens/races/bryleahns">Bryleahns</a></li>
                <li><a href="/denizens/races/kyonnhs">Kyönnhs</a></li>
                <li><a href="/denizens/races/noctids">Noctids</a></li>
                <li><a href="/denizens/races/flammars">Flammars</a></li>
                <!-- <li>
                        <a href="/denizens/races">Races</a>
                        <span class="submenu-toggle">▾</span><ul class="submenu">
                                <li>
                                        <a href="/denizens/races/humans">Humans</a>
                                        <span class="submenu-toggle">▾</span><ul class="submenu">
       
                                        </ul>
                                </li> 
 
                        </ul>
                </li> -->
                <!-- <li><a href="/denizens/bestiary">Bestiary</a></li> -->
        </ul>
</li>

<li><a href="/wonders">Wonders</a>
        <span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li>
                        <a href="/wonders/pantheon">Pantheon</a>
                        <!-- <span class="submenu-toggle">▾</span><ul class="submenu">
                                <li><a href="/wonders/pantheon/fluere">Fluere</a></li>
                                <li><a href="/wonders/pantheon/kaelesta">Kaelesta</a></li>
                                <li><a href="/wonders/pantheon/solkalor">Solkalor</a></li>
                                <li><a href="/wonders/pantheon/ferrude">Ferrude</a></li>
                                <li><a href="/wonders/pantheon/aurehjo">Aurehjo</a></li>
                                <li><a href="/wonders/pantheon/tranqa">Tranqa</a></li>
                                <li><a href="/wonders/pantheon/kustopha">Kustopha</a></li>
                                <li><a href="/wonders/pantheon/dhfhalbh">Dh’Fhalbh</a></li>
                                <li><a href="/wonders/pantheon/flumorn">Flumorn</a></li>
                        </ul> -->
                </li>
                <!-- <li>
                        <a href="/">Religions</a>
                        <span class="submenu-toggle">▾</span><ul class="submenu">
                                <li><a href="/wonders/religions/cult_of_currents">Cult of Currents</a></li>
                                <li><a href="/wonders/religions/cult_of_spirits">Cult of Spirits</a></li>
                                <li><a href="/wonders/religions/ancestor_cult">Ancestor Cult</a></li>
                        </ul>
                </li> -->
                <!-- <li> -->
                <!-- <li><a href="/">Magic</a></li> -->
                <!-- </li> -->
                <!-- <li><a href="/wonders/alchemy">Alchemy</a></li> -->
</li>
</ul>
</li>

<li><a href="/extras">Extras</a>
        <span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li><a href="/extras/stories">Stories</a>
                        <span class="submenu-toggle">▾</span>
                        <ul class="submenu">
                                <li><a href="/extras/stories/myth">Myth</a></li>
                        </ul>
                </li>
                <!-- <li><a href="/extras/arts">Arts</a></li> -->
                <li><a href="/extras/blog">Blog</a></li>
                <!-- <li><a href="/extras/chronicle">Chronicle</a></li>
                <li><a href="/extras/glossary">Glossary</a></li> -->
        </ul>
</li>
<li><a href="/about">About</a>
        <span class="submenu-toggle">▾</span>
        <ul class="submenu">
                <li><a href="/about/wip">Work in Progress</a></li>
                <li><a href="/license">License</a></li>
                <li><a href="/about/templates">Guides Templates</a>
                        <ul class="submenu">
                                <li><a href="/about/templates/template_malkona">A Guide to Malkona</a></li>
                                <li><a href="/about/templates/template_region">Regional Guide</a></li>
                        </ul>
                </li>
                <!--   <li><a href="/about/roadmap">Roadmap</a></li>
                <li><a href="/about/credits">Credits</a></li>
                <li><a href="/about/links">Links</a></li>-->

        </ul>
</li>
        </ul>
    </div>

    <div class="header-contacts-mobile">
       <a href="https://discord.gg/Dr4BA8CCx3" class="contact-link"> Join Discord</a>        <!-- | <a href="mailto:orthanthundy@gmail.com" class="contact-link">orthanthundy@gmail.com</a> -->
    </div>
</header>

<div class="notification_banner">
    <p>The World of Taliskarn is still a work in progress, and everything here is a draft in development. Check out <a href="/about" target="_self">this page</a> for more details!</p>
</div>
<!-- Modal image window -->
<div id="imageModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="modal-content">
        <img id="modalImage" src="" alt="">
        <div class="image-controls">
            <p id="modalCaption"></p>
        </div>
        <div class="nav-buttons">
            <span class="prev" onclick="changeImage(-1)">&#10094;</span>
            <span class="next" onclick="changeImage(1)">&#10095;</span>
        </div>
    </div>
</div>

<script>


    document.addEventListener('DOMContentLoaded', function () {
        const burgerBtn = document.getElementById('burger-btn');
        const mobileMenu = document.getElementById('mobile-menu');

        burgerBtn.addEventListener('click', function () {
            mobileMenu.classList.toggle('active');
        });
    });

    console.log("Image modal script loaded!");

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('.submenu-toggle').forEach(button => {
            button.addEventListener('click', function (event) {
                event.stopPropagation();
                let parent = this.closest('.has-submenu');
                parent.classList.toggle('open');
            });
        });

        let images = Array.from(document.querySelectorAll("img.phb-image"));
        let modal = document.getElementById("imageModal");
        let modalImage = document.getElementById("modalImage");
        let modalCaption = document.getElementById("modalCaption");
        let navButtons = document.querySelector(".nav-buttons");
        let currentIndex = 0;

        function openModal(index) {
            if (index < 0 || index >= images.length) return;
            currentIndex = index;
            const image = images[currentIndex];

            modalImage.src = image.src;
            modalCaption.innerHTML = `${image.alt || "Image " + (index + 1)} (<a id="fullSizeLink" style="color: #4dabf7;" target="_blank" href="${image.dataset.fullsize || image.src}">Open in full size</a>)`;
            modal.style.display = "flex";
            navButtons.style.display = images.length > 1 ? "flex" : "none";
        }
        function closeModal() {
            modal.style.display = "none";
        }

        function changeImage(step) {
            let newIndex = currentIndex + step;
            if (newIndex < 0) newIndex = images.length - 1;
            if (newIndex >= images.length) newIndex = 0;
            openModal(newIndex);
        }

        modal.addEventListener("click", function (e) {
            if (e.target === modal || e.target === modalImage) {
                closeModal();
            }
        });

        images.forEach((img, index) => {
            img.style.cursor = "pointer";
            img.addEventListener("click", () => openModal(index));
        });

        document.querySelector(".close").addEventListener("click", closeModal);
        document.addEventListener("keydown", (event) => {
            if (modal.style.display === "flex") {
                if (event.key === "Escape") closeModal();
                if (event.key === "ArrowLeft") changeImage(-1);
                if (event.key === "ArrowRight") changeImage(1);
            }
        });

        window.openModal = openModal;
        window.closeModal = closeModal;
        window.changeImage = changeImage;
    });
</script>
    <main role="main" id="main" class="phb">
        <div class="wide" style="margin-bottom: 36px">
           <div style="margin-bottom: 8px;"><div id="breadcrumbs">
    
    <a href="/">Home</a>
    
        
        
        
        
        

        
            / <a href="/about/">
                About
            </a>
        
    
        
        
        
        
        

        
            / <a href="/about/templates/">
                Guides Templates
            </a>
        
    
        
        
        
        
        

        
            / Regional Guide
        
    
</div></div> 

            <h1 id="taliskarn-notes-regional-guide">Taliskarn Notes: Regional Guide</h1>

<p><strong>Purpose</strong>: Provide a detailed overview of a specific region and adventures within it. Essentially, the guide should be a “pick up, read, and play” book—anything missing can be found on the website or in the general “Guide to Taliskarn” PDF.</p>

<p><strong>Distribution</strong>: The material is divided into two parts. The first (general) part contains core regional lore, reference information, adventure hooks, etc., but without numerical data or GM-specific materials. It includes only one introductory one-shot adventure for the region. This part is distributed freely, published on the website (by deepening and expanding relevant sections), as well as in PDF format.</p>

<p>The second part includes several adventures (including a main adventure spanning 3–5 sessions) and all supplementary materials: battle maps, bestiary with stats, player handouts, a catalog of items with full cards, etc. This part is only included in the paid PDFs for the region—the complete (premium) guide version.</p>

<p><strong>Additionally</strong>: Effort should be made to prepare adventures as modules for Foundry VTT. With the right approach, this will be relatively labor-intensive but not overly complex, as all content will already be developed—only integration and setup remain.</p>

<blockquote>
  <p><strong>Margin Scribble</strong><br /><br />
My main goal is for Taliskarn to be loved :) Therefore, I strongly lean toward freely distributing content with optional donations so that my world is accessible to everyone.<br /><br />However, by the time the first guide is released (ideally, if I maintain momentum), it may become challenging to simultaneously work on earning money and creating content for Taliskarn.<br /><br />I concluded that splitting the content into two parts—free and paid—is a reasonable idea. The basic book on Taliskarn remains free; regional guides are free except for included adventures and game-ready content (bestiary stat blocks, item cards, Foundry modules, etc.). This approach provides sufficient information for everyone who wishes to play, while those who can and wish to support will receive additional ready-to-play content. Seems reasonable.</p>
</blockquote>

<h2 id="contents">Contents</h2>
<ol>
  <li><strong>Introduction</strong>.
    <ol>
      <li>Atmospheric introduction</li>
      <li>Brief overview of the region: location, features, and uniqueness</li>
      <li>Intended adventure and narrative types, tone, genre</li>
      <li>Role of characters: why adventurers might come here, adventure hooks, suitable archetypes, recommended character levels</li>
      <li>Guide contents (what follows)</li>
    </ol>
  </li>
  <li><strong>Geography and Nature</strong>.
    <ol>
      <li>Regional map (general, physical). Appendix with distances between main points. Map legend.</li>
      <li>Location</li>
      <li>Landscape types</li>
      <li>Climate</li>
      <li>Flora and fauna (non-supernatural, brief, without detailed stats)</li>
      <li>General supernatural features (miracles), unique regional mechanics</li>
      <li>Internal biomes and their features. For each biome:
        <ol>
          <li>Location</li>
          <li>Landscape</li>
          <li>Climate</li>
          <li>Miracles (supernatural features)</li>
          <li>Flavor, points of interest, adventure hooks</li>
        </ol>
      </li>
      <li>Natural phenomena and dangers (storms, currents, etc.)</li>
    </ol>
  </li>
  <li><strong>History and Legends</strong>. Possibly includes chronological table of key dates (appendix).
    <ol>
      <li>Regional timeline</li>
      <li>Legends and mythology</li>
      <li>Recent key events influencing current regional state</li>
      <li>Famous historical figures</li>
      <li>Unsolved historical mysteries (hooks)</li>
    </ol>
  </li>
  <li><strong>Peoples</strong>
    <ol>
      <li>Introduction: inhabitants, occupations, interrelations</li>
      <li>For each group:
        <ol>
          <li>Biology and appearance</li>
          <li>Culture and lifestyle: architecture, cuisine, music, clothing, temperaments</li>
          <li>Social structure (society organization, government, power dynamics)</li>
          <li>Religion and beliefs</li>
          <li>Settlement area</li>
          <li>Languages and dialects</li>
          <li>Relations with other groups (including outsiders)</li>
          <li>Sub-races</li>
        </ol>
      </li>
    </ol>
  </li>
  <li><strong>Factions, States, and Cities</strong>
    <ol>
      <li>Political map showing main settlements and their areas of influence</li>
      <li>Description of factions (cities, cults, societies, etc.). For each faction:
        <ol>
          <li>General overview: composition, size, geography, objectives, methods</li>
          <li>For cities: map, districts, population, area of influence, political system, specialization, vibe</li>
          <li>Key NPCs</li>
          <li>Key faction-related points of interest</li>
          <li>Suitable adventures, usage ideas</li>
        </ol>
      </li>
      <li>Conflicts, alliances, trade routes, points of tension. Faction-specific hooks.</li>
    </ol>
  </li>
  <li><strong>Places</strong>.
    <ol>
      <li>Introduction</li>
      <li>Settlements not included in faction descriptions:
        <ol>
          <li>Location</li>
          <li>Population</li>
          <li>Districts</li>
          <li>Vibe, mood, specialization, adventure types, and purposes</li>
        </ol>
      </li>
      <li>Points of interest: dark caves, ancient temples, mystical lakes—brief descriptions, lore, narrative focus.</li>
      <li>Regional transport methods: travel specifics.</li>
    </ol>
  </li>
  <li><strong>Regional Bestiary</strong>. General description, lore-centric, images.
    <ol>
      <li>Introduction, monster features, general regional info.</li>
      <li>8–15 original creatures (10–15 if adapted, 8–10 if entirely original). Image, appearance, behavior, abilities, lore placement—1–2 paragraphs. Brief usage tips ("suitable for level 3–4 groups, flees if outnumbered"). Notes on which adventures feature these creatures.
Approximate monster distribution (CR varies by region):</li>
      <li>3 low-level creatures (CR 1–3).</li>
      <li>4–5 mid-level creatures (CR 4–7).</li>
      <li>3–4 high-level creatures (CR 8–12).</li>
      <li>1 regional "boss" (CR 13+).</li>
      <li>Recommendations for adapting canonical creatures.</li>
    </ol>
  </li>
  <li><strong>Regional Items and Artifacts</strong>. Similar structure.</li>
  <li><strong>Adventures in the Region</strong>
    <ol>
      <li>Introduction: intended gameplay style, region’s central conflict, drama, themes.</li>
      <li>Typical adventurer tasks</li>
      <li>Adventure hooks</li>
      <li>Character preparation advice: useful skills, knowledge, equipment</li>
      <li>Gameplay tone and style</li>
      <li>One-shot adventure: short scenario for 1–2 sessions</li>
    </ol>
  </li>
  <li><strong>Region for GMs</strong>
    <ol>
      <li>Introduction.</li>
      <li>Region’s behind-the-scenes secrets</li>
    </ol>
  </li>
</ol>

<p><em>End of free content distributed to everyone. The following is premium-only content.</em></p>

<ol>
  <li><strong>GM Details</strong>
    <ol>
      <li>Introduction to premium content; thanks for purchasing and supporting</li>
      <li>How to use this section: information distribution, GM/player notes</li>
      <li>Recommendations for running adventures, atmosphere creation, soundtrack suggestions</li>
      <li>Integration points: incorporating this region into other campaigns, entry points, hooks</li>
      <li>Difficulty adjustment: adapting adventures for different group levels (appendix tables/options)</li>
      <li>Foundry modules and add-ons (if available)</li>
    </ol>
  </li>
  <li><strong>Main Adventure</strong> Designed for 3–5 sessions/levels, including:
    <ol>
      <li>Introduction</li>
      <li>Synopsis: brief summary of the whole story</li>
      <li>Background context: lore connections</li>
      <li>Adventure hooks: character involvement</li>
      <li>Chapter-by-chapter plot with locations, scenes, NPCs, and guidelines</li>
      <li>Climax and finale: possible outcomes</li>
      <li>Aftermath: world changes, continuation hooks</li>
      <li>GM notes: alternate paths, difficulty tuning, music, useful links</li>
      <li>GM materials: handouts, tables, appendices</li>
    </ol>
  </li>
  <li><strong>2–3 additional one-shots</strong> covering various adventure types</li>
  <li>
    <p><strong>Conclusion</strong> (also present in the free version)</p>
  </li>
  <li><strong>Appendix A</strong>: Distance tables, reference materials (free)</li>
  <li><strong>Appendix B</strong>: Pre-generated character concepts without stats (free)</li>
  <li><strong>Appendix C</strong>: Bestiary and monster stat blocks (premium)</li>
  <li><strong>Appendix D</strong>: Items with cards and stats (premium)</li>
  <li><strong>Appendix E</strong>: Random encounter tables (premium)</li>
  <li><strong>Appendix F</strong>: Regional mechanics (premium)</li>
  <li><strong>Appendix G</strong>: Unique backgrounds, feats, skills, subclasses (mixed free/premium)</li>
  <li><strong>Appendix H</strong>: Pre-generated characters with full sheets (premium)</li>
</ol>


            <div class="wide" style="text-align: center; position: absolute; bottom: 20px; width: 100%;">Powered by Orthan Thundy, 2025. <a href="/license">License</a></div>
        </div>
    </main>

    <footer role="contentinfo" id="contentinfo">
    </footer>
</body>

</html>